.chat-item {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: 4px;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  width: 100%;
}

.ava {
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  flex-shrink: 0;
}

.preview {
  display: flex;
  flex-direction: column;
  padding: 2px 8px;
  flex-grow: 1;
  width: 50%;
}

.nickname {
  font-weight: bold;
}

.meta {
  flex-shrink: 0;
}
