.acWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  overflow-y: scroll;
}

.acMessageWrapper {
  display: flex;
  width: 100%;
}

.acMessage {
  border: 1px solid var(--border-color);
  padding: 8px;
  margin-bottom: 4px;
  width: 300px;
  border-radius: 4px;
}

.acMessage_right {
  justify-content: flex-end;
}
