:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem;
}


#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.12);
  height: 90vh;
  justify-content: space-between;
}

.chats {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.active {
  flex-grow: 1;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.message-form {

}
